/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/
@use "sass:color";

// Nord Palette
$nord0: #2E3440;
$nord1: #3B4252;
$nord2: #434C5E;
$nord3: #4C566A;
$nord4: #D8DEE9;
$nord5: #E5E9F0;
$nord6: #ECEFF4;
$nord7: #8FBCBB;
$nord8: #88C0D0;
$nord9: #81A1C1;
$nord10: #5E81AC;
$nord11: #BF616A;
$nord12: #D08770;
$nord13: #EBCB8B;
$nord14: #A3BE8C;
$nord15: #B48EAD;

// Colors
$red-color: $nord11 !default;
$red-color-dark: color.adjust($nord11, $lightness: -15%) !default;
$orange-color: $nord12 !default;
$blue-color: $nord8 !default;
$blue-color-dark: $nord10 !default;
$cyan-color: $nord7 !default;
$light-cyan-color: color.adjust($nord7, $lightness: 25%);
$green-color: $nord14 !default;
$green-color-lime: color.adjust($nord14, $lightness: 15%) !default;
$green-color-dark: color.adjust($nord14, $lightness: -10%) !default;
$green-color-light: color.adjust($nord14, $lightness: 35%) !default;
$green-color-bright: color.adjust($nord14, $lightness: 10%) !default;
$purple-color: $nord15 !default;
$light-purple-color: color.adjust($nord15, $lightness: 25%);
$pink-color: color.adjust($nord15, $lightness: -10%) !default;
$pink-color-light: color.adjust($nord15, $lightness: 30%) !default;
$yellow-color: $nord13 !default;
$grey-color: $nord3 !default;
$grey-color-light: color.adjust($nord3, $lightness: 40%);
$grey-color-dark: $nord1;
$grey-900: $nord0;
$white-color: $nord6 !default;
$black-color: $nord0 !default;

// Theme colors
$code-bg-color-light: rgba($nord15, 0.05);
$code-bg-color-dark: $nord1 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;

// Max width default
$max-content-width: 930px !default;
