/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #bf616a !default;
$red-color-dark: #bf616a !default;
$orange-color: #d08770 !default;
$blue-color: #81a1c1 !default;
$blue-color-dark: #5e81ac !default;
$cyan-color: #88c0d0 !default;
$light-cyan-color: #8fbcbb !default;
$green-color: #a3be8c !default;
$green-color-lime: #a3be8c !default;
$green-color-dark: #a3be8c !default;
$green-color-light: #a3be8c !default;
$green-color-bright: #a3be8c !default;
$purple-color: #b48ead !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #b48ead !default;
$pink-color-light: color.adjust($pink-color, $lightness: 25%);
$yellow-color: #ebcb8b !default;

$grey-color: #d8dee9 !default;
$grey-color-light: #e5e9f0;
$grey-color-dark: #3b4252;
$grey-900: #434c5e;

$white-color: #eceff4 !default;
$black-color: #2e3440 !default;

// Theme colors

$code-bg-color-light: #e5e9f0 !default;
$code-bg-color-dark: #434c5e !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;

// Max width default
$max-content-width: 930px !default;
